{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section>
        {% if app.user %}
            <div class="connected">
            <p>Vous êtes déjà connecté</p> 
            <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}
        
        {% if not registrationForm.vars.valid %}
            <div class="invalid">
                {% if form_errors(registrationForm.email) %}
                    <div>L'email est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.prenom) %}
                    <div>Le prénom est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.nom) %}
                    <div>Le nom est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.adresse1) %}
                    <div>L'adresse est incorrecte</div>
                {% endif %}
                {% if form_errors(registrationForm.code_postal) %}
                    <div>Le code postal est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.ville) %}
                    <div>La ville est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.adresse2) %}
                    <div>Le complément d'adresse est incorrect</div>
                {% endif %}
                {% if form_errors(registrationForm.password.first) %}
                    <div>Les mots de passe ne correspondent pas</div>
                {% endif %}
            </div>
        {% endif %}
            <div class="form-box">
                <div class="form">
                    <h2>Inscription</h2>
                    {{ form_start(registrationForm) }}
                    
                    <div class="row">
                        {% if form_errors(registrationForm.email) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.email) }}
                            {{ form_label(registrationForm.email) }}
                        </div>
                    </div>
                    <div class="row">
                        {% if form_errors(registrationForm.prenom) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.prenom) }}
                            {{ form_label(registrationForm.prenom) }}
                        </div>
                        {% if form_errors(registrationForm.nom) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.nom) }}
                            {{ form_label(registrationForm.nom) }}
                        </div>
                    </div>
                    <div class="row">
                        {% if form_errors(registrationForm.adresse1) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.adresse1) }}
                            {{ form_label(registrationForm.adresse1) }}
                        </div>
                        {% if form_errors(registrationForm.code_postal) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.code_postal) }}
                            {{ form_label(registrationForm.code_postal) }}
                        </div>
                    </div>
                    <div class="row">
                        {% if form_errors(registrationForm.ville) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.ville) }}
                            {{ form_label(registrationForm.ville) }}
                        </div>
                        {% if form_errors(registrationForm.adresse2) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.adresse2) }}
                            {{ form_label(registrationForm.adresse2) }}
                        </div>
                    </div>
                    <div class="row">
                        {% if form_errors(registrationForm.password.first) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.password.first) }}
                            {{ form_label(registrationForm.password.first) }}
                        </div>
                        {% if form_errors(registrationForm.password.first) %}
                            <div class="inputbox invalid-field"> 
                        {% else %}
                            <div class="inputbox">
                        {% endif %}
                            {{ form_widget(registrationForm.password.second) }}
                            {{ form_label(registrationForm.password.second) }}
                        </div>
                    </div>
                    <div class="row-button">
                        <button type="submit" class="btn">S'inscrire</button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
