{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block body %}
<section class="articles-list">
    <h2>Liste des articles</h2>
        <div class="list">
        {% for produit in produits %}
            <article>
                <div class="produit">
                    <a href="{{ path('produit_details', {'id': produit.id}) }}" title="Voir détails du produit" class="nav-click">
                        <img src="{{ asset('img/products/' ~ produit.photo) }}" alt="{{ produit.nom }}" class="nav-click">
                        <div class="nom nav-click">{{ produit.nom }}</div>
                        <div class="prix nav-click">{{ produit.prix|format_currency('EUR', locale='fr') }}</div>
                    </a>
                </div>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
