{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ asset('css/produit.css') }}">
{% endblock %}

{% block body %}
<section>
    <h2>{{ produit.nom }}</h2>
    <article class="produit">
        <img src="{{ asset('img/products/' ~ produit.photo) }}" alt="{{ produit.nom }}">
        <div class="description">
            <div class="titre-description">Description</div>
            <div class="contenu-description">{{ produit.description }}</div>
        </div>
        {{ form_start(ligneForm) }}
        <div class="zone-prix">
            <div class="prix">{{ produit.prix|format_currency('EUR', locale='fr') }}</div>
            <div>
                {{ form_label(ligneForm.quantite) }}
                {{ form_widget(ligneForm.quantite) }}
            </div>
            <button>Ajouter au panier</button>
        </div>
        {{ form_end(ligneForm) }}
    </article>
</section>
{% endblock %}